*{
	margin:0;
	padding:0;
}
body{
	font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}
/*顶部导航开始*/
.nav{
	width:100%;
	height:75px;
    background-color:white;
	border-bottom:1px solid rgb(231,234,241);
	position:fixed;
    top:0;
    z-index:1;
}
.nav-middle{
	width:1250px;
	height:100%;
	margin:0 auto;
}
.nav .s1{
	float:left;
}
.nav li{
	width:40px;
	height:30px;
	margin:0px 22px 0 22px;
	
	font-size:20px;
	list-style-type:none;
}
.nav-first li{
	float:left;
	padding:22px 5px 22px 5px;
}
.nav-secend li{
	float:right;
	padding:15px 3px 15px 3px;
}
.nav input{
	width:400px;
	height:45px;
	font-size:20px;
	margin-top:14px;
	font-weight:bold;
	background-color:rgb(247,248,250);
	float:left;
    border:1px solid rgb(231,234,241);
    border-radius:5px;
	outline:medium;
}
.nav_question{
	text-align:center;
	background-color:#0e77e5;
	color:#ffffff;
	float:left;
	width:80px;
	height:40px;
	padding-top:10px;
	border-radius:4px;
	margin-top:12px;
	font-size:20px;
	margin-left:15px;
}
/*资料卡开始*/
.card{
	width:1250px;
	height:1200px;
	/*background-color:silver;*/
	margin:0 auto;
	margin-top:95px;
}
    /*上部资料卡开始*/
.card .top{
	width:100%;
	height:370px;


}
.upload-image{
	width:100;
	height:165px;
	background-color:rgb(150,161,169);

}
.onclick-upload-image{
	width:170px;
	height:45px;
	border-radius:5px;
	border:1px solid rgb(204,216,225);
	float:right;
	margin:30px 25px 0 0;
}
.onclick-upload-image span{
	display:block;
	font-size:20px;
	color:rgb(204,216,225);
	margin:9px 0 0 30px;
}
.show-message{
	width:1190px;
	height:175px;

	margin:0 auto;
	margin-top:20px;

}
.onclick-show-message{
	width:170px;
	height:45px;
	border-radius:5px;
	border:1px solid rgb(15,136,235);
	float:right;
	margin:-45px 0 0 0;
}
.onclick-show-message span{
	display:block;
	font-size:20px;
	color:rgb(15,136,235);
	margin:9px 0 0 30px;
}
.onclick-show-message a:link{
	text-decoration:none;
}
.show-message img{
	float:left;
	border:5px solid white;
	border-radius:5px;
	margin-top:-60px;
}
.show-right{
	width:945px;
	height:150px;
	float:right;
 
}
.show-right ul{
	list-style-type:none;
}
.show-right ul li{
    list-style-type:none;
	width:100%;
	height:30px;
	margin-top:7px;


	
}

.cont-left{
	height:100%;
	width:175px;
	float:left;
	font-size:20px;

}
.cont-right{
    font-size:20px;
}

.first .cont-left{
	font-size:30px;
	margin-top:-20px;
}



    /*下部资料卡开始*/

.card .bottom{
	width:100%;
	height:500px;
	margin-top:20px;
	background-color:blue;
}
.bottom-left{
	width:860px;
	height:460px;
	background-color:yellow;
}
.bottom-left-top{
	width:100%;
	height:70px;
	background-color:silver;
	border-bottom:1px solid black;
}
.bottom-left-top ul{
    list-style-type:none;
    
}
.bottom-left-top li{
	font-size:20px;
	padding:20px;
	width:60px;
	margin-left:10px;
	background-color:green;
	float:left;
}