*{
	padding:0;
	margin:0;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;;
}
/*body{
	filter:opacity(0.3);
}*/
.nav{
	width:100%;
	height:60px;
	background-color:rgb(8,109,211);
	position:fixed;
	z-index:5;
}
.nav_contain{
	width:1150px;
	height:100%;
	margin:0 auto;
	line-height:40px;
	position:relative;
}
.search{
	float:left;
	width:540px;
	height:60px;

}
.search .s1{
    height:60px;
}
.search #search-input{
	background-color:rgb(225,234,242);
	font-size:18px;
	position:relative;
	top:-80px;
	left:100px;
	width:460px;
	height:40px;
	border-radius:5px;
	outline:medium;
	border:none;
}
#search-search{
	position:relative;
	height:41px;
	top:-65px;
	left:48px;
}




.nav ul{
	position:absolute;
	left:50%;
}
.nav ul li{
	list-style-type:none;
	color:rgb(220,220,220);
	float:right;
	padding:10px;
	font-size:20px;
}
#li4{
	background-color:rgb(8,95,180);
}
.nav_question{
	cursor:pointer;
	text-align:center;
	background-color:#0e77e5;
	color:#ffffff;
	float:right;
	width:80px;
	height:40px;
	border-radius:4px;
	margin-top:10px;
	font-size:20px;
	margin-right:15px;
}




.nav_question_contain{
	display:none;
	width:690px;
	height:670px;
	background-color:rgb(200,200,200);
	position:fixed;
    left:620px;
    top:140px;
    border-radius:10px;
	z-index:99;
}
.tiwen-top{
	width:100%;
	height:45px;
	background-color:rgb(14,109,204);
	border-radius:10px 10px 0 0;
}
.tiwen-top span{
	color:white;
	font-size:20px;
	font-weight:700;
	margin-left:20px;
	display:inline-block;
	margin-top:11px;
}
.tiwen-top img{
	float:right;
	margin:10px;
}
.tiwen-body-first,.tiwen-body-secend,.tiwen-body-third,.tiwen-body-forth,.tiwen-body-fifth{
    list-style-type:none;
    margin:38px 20px;
}
.tiwen-body-first,.tiwen-body-secend,.tiwen-body-third,.tiwen-body-forth,.tiwen-body-fifth{
    line-height:25px;
}
.tiwen-body-fifth input{
	width:647px;
	height:40px;
	font-size:20px;
	border-radius:5px;
	border:1px solid rgb(204,204,204);
}

.nav_question_contain li:first-child{
	font-weight:900;
}








.nav_personal{
	position:relative;
	left:20px;
	width:150px;
	height:100%;
	float:right;
	font-size:20px;
}
.nav_personal img{
	height:35px;
	margin-top:12px;
	margin-left:10px;
	border-radius:5px;
	margin-right:5px;
}
.nav_personal span{
	color:#ffffff;
	display:block;
	position:relative;
	top:-48px;
	margin-left:58px;
}
.nav_personal ul{
    display:none;
}
.nav_personal li{
	border-top:1px solid rgb(13,90,165);
	border-bottom:1px solid rgb(13,90,165);
    position:relative;
	top:-40px;
	left:-75px;
	list-style-type:none;
	color:#ffffff;
    width:130px;
    height:40px;
    float:right;
    background-color:rgb(9,95,179);
}
.contain{
	top:60px;
	width:1200px;

	margin:0 auto;
	background-color:;
	position:relative;
}
.left{
	width:800px;

	
	float:left;
}

.left_first{
	position:relative;
	width:800px;
	height:170px;

	border-bottom:1px solid #cccccc;
}
.first_top{
	height:60px;
	width:800px;
    position:absolute;
    top:25%;
}
.first_left{
	width:725px;
	height:100%;
	background-color:#fafafa;
	float:right;
	border-radius:10px;
	border:1px solid #f0f0f0;

}
.first_top img{
	height:50px;
	border-radius:10px;
	float:left;
}
.first_top li{
	color:#6c829f;
	list-style-type:none;
	float:left;
	position:relative;
	padding-left:50px;
	padding-right:50px;
	top:20px;
	font-size:20px;
	border-right:2px solid #f0f0f0;
}
.first_top span{
	color:#6c829f;
	float:right;
	position:relative;
	padding-left:50px;
	padding-right:50px;
	top:20px;
	font-size:20px;
	
}
.first_bottom{
	width:800px;
	height:40px;
	position:absolute;
	bottom:2px;
	
}
.botton_first{
	color:#6c829f;
	float:left;
	font-size:25px;
}
.botton_secend{
	color:#6c829f;
	float:right;
	font-size:25px;
}

.delated{
	transition:all 1s;
    color:rgb(153,153,153);
	width:100%;
	height:50px;
	line-height:50px;
	display:none;
	border-bottom:1px solid rgb(238,238,238);
}
.delated span{
	margin-left:60px;
}
.delated img{
	margin-left:428px;
}





.open{
	width:100%;
	height:8200px;
	display:none;

}
.open-left{
    width:60px;
	height:8200px;
    float:left;
}
.open-left img{
	width:52px;
	border-radius:5px;
}
.open-right{
    width:740px;
	height:8200px;
	float:right;
}
.open-first{
	width:740px;
	height:30px;
	font-size:18px;
	color:rgb(153,153,153);
}
.open-first img{
	margin-left:540px;
}
.open-secend{
	width:740px;
	height:31px;
	color:rgb(34,85,153);
	font-size:20px;
	font-weight:bold;
}
.open-secend a:link{
	text-decoration:none;
}
.open-secend a:hover{
	text-decoration:underline;
}
.open-third{
	width:740px;
	height:30px;
}
.open-third-left{
	color:rgb(0,0,0);
	font-weight:bold;
	font-size:20px;
}
.open-third-right{
	font-size:18px;
	color:rgb(153,153,153);
}
.open-forth{
	width:740px;
	height:30px;
	font-size:18px;
	color:rgb(153,153,153);
}
.open-fifth{
	width:740px;
	margin:30px 0px; 
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-top:5px;
    line-height:1.7em;
	font-size:17px;
	color:rgb(34,34,34);
}

.open-sixth{
	width:740px;


}
.six-1{
	width:740px;
	height:31px;
	color:rgb(34,85,153);
	font-size:20px;
	font-weight:bold;
}
.six-2{
	width:740px;
	height:31px;
	color:rgb(34,85,153);
	font-size:20px;
	font-weight:bold;
}
.eat-1{
	width:100%;
}
.six-3{


	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-top:5px;
    line-height:3em;
	font-size:17px;
	color:rgb(34,34,34);
}






.open-seventh{
	margin-top:3px;
    width:740px;
    height:40px;
    font-size:18px;
	color:rgb(153,153,153);
}
.open-seventh img{
	margin-top:-10px;
    float:right;
	
}







.massage{
    list-style-type:none;
	margin-top:5px;
	width:800px;
	height:270px;
    border-bottom:1px solid rgb(238,238,238);
}
.main{
	width:800px;
	height:260px;
    position:relative;
    top:18px;
}
.main-left{
	width:60px;
	height:260px;
    float:left;
}
.good{
	margin-bottom:5px;
	width:52px;
	height:32px;
	text-align:center;
	line-height:32px;
	color:rgb(105,142,191);
	border-radius:5px;
	background-color:rgb(239,246,250);
}
.shouqi{
	text-align:center;
	line-height:32px;
	border-radius:5px;
	background-color:rgb(121,171,211);
	position:fixed;
	width:62px;
	height:32px;
	color:rgb(255,255,255);
	top:905px;
	left:1088px;
}


.main-left img{
	width:52px;
	border-radius:5px;
}
.main-right{
	width:740px;
	height:260px;
	float:right;
 
}
.main-first{
	width:740px;
	height:30px;
	font-size:18px;
	color:rgb(153,153,153);

}
.main-first img{
	margin-left:540px;
}
.main-secend{
	width:740px;
	height:31px;
	color:rgb(34,85,153);
	font-size:20px;
	font-weight:bold;
}

.main-secend a:link{
	text-decoration:none;
}
.main-secend a:hover{
	text-decoration:underline;
}
.main-third{
	width:740px;
	height:30px;
}
.main-third-left{
	color:rgb(0,0,0);
	font-weight:bold;
	font-size:20px;
}
.main-third-right{
	font-size:18px;
	color:rgb(153,153,153);
}
.main-forth{
	width:740px;
	height:126px;
}
.show{
	position:relative;
	top:-29px;
	left:340px;
	width:73px;
	height:22px;
	color:rgb(34,85,153);
}
.main-forth img{
	width:200px;
	height:116px;
	border-radius:5px;
}
.main-forth-img{
	width:200px;
	height:126px;
	float:left;

}
.main-forth-word{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	width:540px;
	height:116px;
	margin-top:5px;
	float:right;
	line-height:1.7em;
	font-size:17px;
	color:rgb(34,34,34);

}
.main-fifth{
	margin-top:3px;
    width:740px;
    height:40px;
    font-size:18px;
	color:rgb(153,153,153);
}

.dot1{
	margin:0 3px;
}

.right{
	width:345px;

	background-color:;
	float:right;
}
.right_first{
	width:345px;
	height:118px;
	background-color:;
	border-bottom:1px solid #eeeeee;
	margin-bottom:5px;
	margin-top:20px;
}
.right_first li{

	margin-top:20px;
	margin-right:25px;
	font-size:17px;
	list-style-type:none;
	color:#666;
}
.right_secend{
	width:345px;
	height:100px;
	background-color:;
	border-bottom:1px solid #eeeeee;
	margin-bottom:5px;
	margin-top:20px;
}
.right_secend li{
    margin-top:20px;
	margin-right:25px;
	font-size:17px;
	list-style-type:none;
	color:#666;
}
.right_third{
	width:345px;
	height:210px;
	background-color:;
	border-bottom:1px solid #eeeeee;
	margin-bottom:5px;
	margin-top:20px;
	position:relative;
}
.right_third li{
    margin-top:31px;
	margin-right:25px;
	font-size:17px;
	list-style-type:none;
	color:#666;
	
}
.right_third span{
	font-size:17px;
	color:#666;
	position:absolute;
	left:250px;
	top:0px;
	font-size:15px;
	color:#698ebf;
} 
.right_forth{
	width:345px;
	height:380px;
	background-color:;
	border-bottom:1px solid #eeeeee;
	margin-bottom:5px;
	margin-top:20px;
	position:relative;
}
.right_forth span{
    font-size:20px;
	color:#666;
}
.right_forth img{
	margin-top:40px;
	height:280px;
	border-radius:10px;
}
.right_fifth{
	width:345px;
	height:210px;
	background-color:;
	border-bottom:1px solid #eeeeee;
	margin-bottom:5px;
	margin-top:20px;
	position:relative;
}
.right_fifth a:link{
	color:black;
	text-decoration:none;
}
